-r requirements.txt

# Dev dependencies - Common
pytest
requests-mock==1.6.0

# Dev dependencies - Prolance Web API

# Dev dependencies - Dynamodb
git+git://github.com/numberoverzero/bloop@master#egg=bloop

localstack

